<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">

    <div class="card">
      <dic class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-sm-3">
              <i class="fas fa-star-of-life required-icon"></i>
              <p style="display: inline">必填</p>
            </div>
            <h4 class="col-sm-9">請修改你的支出</h4>
          </div>
          <hr>
        </div>

        <form action="/records/{{record.id}}/edit?_method=PUT" method="POST">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">
              <i class="fas fa-star-of-life required-icon"></i>
              名稱：
            </label>

            <div class="col-sm-9">
              <input type="text" name="name" id="name" class="form-control" placeholder="早餐" value="{{record.name}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="merchant" class="col-sm-3 col-form-label">
              <i class="fas fa-star-of-life not-required-icon"></i>
              商家：
            </label>

            <div class="col-sm-9">
              <input type="text" name="merchant" id="merchant" class="form-control" placeholder="例如:黑心商人"
                value="{{record.merchant}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="date" class="col-sm-3 col-form-label">
              <i class="fas fa-star-of-life required-icon"></i>
              日期：
            </label>

            <div class="col-sm-9">
              <input type="date" name="date" id="date" class="form-control" value="{{record.dateFormat}}">
            </div>
          </div>

          <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label">
              <i class="fas fa-star-of-life required-icon"></i>
              類別：
            </label>

            <div class="col-sm-9">
              <!-- 使用each動態建立並判別當筆類別?? -->
              <select class="custom-select" id="category" name="category" class="form-control">
                <option>選擇類別..</option>
                {{#each categoryList}}
                <option value="{{@key}}" {{#is this ../record.category2Cn}} selected {{/is}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="amount" class="col-sm-3 col-form-label">
              <i class="fas fa-star-of-life required-icon"></i>
              金額：
            </label>

            <div class="col-sm-9">
              <input type="text" name="amount" id="amount" class="form-control" value="{{record.amount}}">
            </div>
          </div>

          <hr>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success mr-3 w-25">送出</button>
            <a href="/records" class="btn btn-primary w-25">返回主頁</a>
          </div>
        </form>
      </dic>
    </div>
  </div>
</div>