{{!-- search-bar --}}
<div class="container search-bar">
  <div class="search-bar-input">
    <form action="/search" method="GET">
      <div class="form-group">
        <input type="search" class="form-control" id="search-restaurant" name="keyword" value="" placeholder="輸入餐廳 分類">
        <button type="submit" class="btn btn-search btn-primary"></button>
      </div>
    </form>
  </div>

  <span class="mx-3">Or</span>

  <div class="btn-create">
    <a href="/restaurants/new" class="btn btn-primary">新增餐廳</a>
  </div>
</div>


{{!-- data panel --}}
<div class="container row mx-auto">
  <div class="row col-md-10 col-12 mx-auto">

    {{#each restaurants}}
    <div class="col-lg-4 col-md-6 col-12">
      <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card">
          <img src="{{this.image}}" alt="{{this.name}}" class="card-img-top">

          <div class="card-body p-3">
            <h6 class="card-title mb-2">{{this.name}}</h6>
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>{{this.category}}</div>
            <span class="badge badge-pill badge-danger font-weight-normal">{{this.rating}}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
        </div>

        <div class="action mt-2 mb-5 text-right">
          <a href="/restaurants/{{this.id}}/edit" class="btn btn btn-primary">編輯</a>
          <a href="/restaurants/{{this.id}}" class="btn btn btn-primary">細節</a>
          <form action="/restaurant/{{this.id}}/delete" method="POST" style="display: inline-block">
            <button type="submit" class="btn btn btn-outline-danger">刪除</button>
          </form>
        </div>
      </a>
    </div>
    {{/each}}

  </div>
</div>