<h1>總金額: {{totalAmount}}</h1>
<ul>
  {{#each records}}
  <li>
    icon
    {{this.name}}
    {{this.date}}
    {{this.category}}
    {{this.amount}}
    <a href="/records/{{this.id}}/edit">修改</a>
    <form action="/records/{{this.id}}/delete" method="POST" style="display: inline">
      <button type="submit">刪除</button>
    </form>
  </li>
  {{/each}}
</ul>
<a href="/records/new">新增支出</a>